@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, "Helvetica Neue", sans-serif;
    background-color: #f4caff;
    background-size: cover;
}
a{
    text-decoration: none;
    color: #000;
}
.main {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    margin: auto;
    justify-content: center;
}
p {
    font-size: 40px;
    margin: 0 auto 30px;
}
.main-btn{
    display: flex;
}
.btn {
    position: relative;
    flex: 1;

    /* はみ出した画像を隠す */
    overflow: hidden;

    border: 5px solid #000;
    background-color: #fff;

    transition: border-color 0.5s ease;
}
.btn img {
    width: 100%;
    background: #fff;
    display: block;
    transition: transform 0.5s ease;
}
/* ホバー */
.btn:hover {
    border-color: #c871ff;
}
.btn:hover img {
    transform: scale(1.1);
}
/* 白フィルター */
.filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s ease;
}
.btn p {
    color: #fff;
    background-color: #d060ffd6;
    padding: 5px;
}
/* 真ん中の文字 */
.btn-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 2;
    width: 100%;
    text-align: center;
}
/* ホバー：白フィルター */
.btn:hover .filter {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

/* スマホ・タブレット：768px以下 */
@media screen and (max-width: 768px) {
.main {
    width: 90vw;
    height: auto;
    min-height: 100vh;
    padding: 50px 0;
}

p {
    font-size: clamp(0.9375rem, 0.3411rem + 2.5445vw, 1.5625rem);
    margin-bottom: 20px;
    text-align: center;
}

.main-btn {
    flex-direction: column;
    gap: 20px;
}

.btn {
    width: 80%;
    margin: auto;
}


    /* スマホでは最初から文字を表示 */
.btn-text {
    opacity: 1;
    font-size: 32px;
}

    /* スマホでは最初から少し白フィルターを表示 */
.filter {
    background-color: rgba(255, 255, 255, 0.3);
}

    /* スマホではhover拡大をしない */
.btn:hover img {
    transform: none;
}
}