@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-image:url(../img/background-vt.png);
    top: 0px;
    left: 0px;
    margin: 0px;
    background-size: cover;
}
ul,li,ol,p,h1,h2,h3{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: #000;
}
img{
    width:100%;
}
header{
    display: flex;
    background-color: #f8e4ff8f;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 10;
}
header img{
    width: 350px;
    position:absolute;
    left: 30px;
}
.header-text{
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 50px;
    column-gap: 50px;
    font-size: 25px;
}
.header-text p{
    border-bottom: 2px solid #000;
}
.main{
    width: 100%;
    position: relative;
}

.main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    width: 60vw;
    text-align: center;
}
.section img{
    width: auto;
    height: 100px;
    display: flex;
    margin: 100px auto 0px;
}
.profile-container{
    position: relative;
}
.profile-image{
    width: 80%;
    display: flex;
    margin: 50px auto 0px;
}
.character-image {
    width: 40%;
    max-width: 500px;
}
.character {
    width: auto;
    height: 40vw;
    max-height: 900px;
    position: absolute;
    bottom: 2vh;
    right: 15vw;
    opacity: 0;
    transition: opacity 1s ease;
}

.character.active {
    opacity: 1;
}

.schedule-container{
    background-color: #ffb1e1;
    padding: 30px 0px;
    margin-top: 50px;
}
.schejule-tytle{
    font-size: 40px;
    border-bottom: 2px solid #000;
    padding-left: 20px;
}
.st ul{
    margin-bottom: 50px;
}
.sc-thumbnail{
    font-size: 25px;
    margin: 10px 0px 0px;
    padding-left: 20px;
}
.st-list{
    display: flex;
    gap: 30px;
    width: 90%;
    margin: 50px auto 0px;
}
.st-list li {
    position: relative;
    flex: 1;
}
.st-list li a {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 20px;
}

/* 白いフィルター */
.white-filter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    aspect-ratio: 1;
    border-radius: 50%;
    /* 円の外側を白くする */
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.4);
    transition: width 1s ease;
    z-index: 1;
    pointer-events: none;
}

/* ホバー */
.st-list li a:hover .white-filter {
    width: 150%;
}
.st-list li a:hover .btn {
    width: 110px;
}

/* 再生ボタン */
.st-list li .btn {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 80px;

    transition: width 0.3s ease;

    z-index: 2;
}
.st-list .bg{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}
.st-list p{
    text-align: center;
    font-size: 40px;
}
.st-list .text{
    width: 60vw;
    display: flex;
    margin: 0 auto;
    padding: 50px 0px;
}
.link-list{
    display: flex;
    gap: 30px;
    width: 90%;
    margin: 50px auto 100px;
    justify-content: space-around;
}
.link-list img{
    width: 10vw;
}

@media screen and (max-width: 768px) {
header{
    height: 50px;
}
header img {
    width: 150px;
    position: absolute;
    left: 30px;
}
.header-text {
    column-gap: 20px;
    font-size: 15px;
}
.main-text {
    width: 80vw;
}
.section img{
    height: 70px;
    margin: 50px auto 0px;
}
.profile-image{
    width: 90%;
}
.character {
    height: 50vw;
    right: 10vw;
}
.schejule-tytle{
    font-size: 30px;
}
.sc-thumbnail {
    font-size: 20px;
}
.st-list {
    width: 100%;
    flex-direction: column;
}
.st-list li .btn {
    width: 90px;
}
.st-list li a:hover .btn {
    width: 110px;
}
.st ul {
        margin-bottom: 20px;
        flex-direction: column;
        width: 70%;
}
.st-list {
    margin: 30px auto 0px;
}
.st-list .text {
    width: 80vw;
    padding: 30px 0px;
}
.link-list img {
    width: 15vw;
}
.list-item{
    width: 70%;
    margin: 0 auto;
}
.white-filter {
    display: none;
}
}
@media screen and (max-width: 500px) {
header img {
    width: 130px;
    left: 10px;
}
.header-text {
    font-size: 12px;
    margin-right: 10px;
    column-gap: 10px;
}
.section img{
    height: 50px;
    margin: 30px auto 0px;
}
.st ul {
        width: 100%;
}
.st-list li .btn {
    width: 50px;
}
.st-list li a:hover .btn {
    width: 70px;
}
.schejule-tytle{
    font-size: 25px;
}
.sc-thumbnail {
    font-size: 15px;
}
.st-list .text {
    padding: 10px 0px;
}
.link-list {
    gap: 20px;
}
.link-list img {
    width: 20vw;
}
}